doctype html
html(lang="en")
  include inc/head.jade
body.tk-chaparral-pro

mixin project(subline,name,href,src)
  li.project
    a(href=href)
      img(src=src, alt="")
    h3.tk-chaparral-pro= subline
    h2.tk-chaparral-pro
      a(href=href)= name
mixin archive(date, title)
  li
    span.tk-chaparral-pro.title
      a()= title
    span.tk-chaparral-pro.date= date
.bio
  h1.tk-chaparral-pro 
    span.line I'm generally known as,
    span.name Tyrale.
.dontcare
  p
    input(type='checkbox' name='paragraph' id='paragraph')
    label(for='paragraph')
    span You came here to see what I can 
    span produce, or possibly see how I think. 
    span I have designed experiences for over a decade, 
    span mentored and managed teams of +30, and 
    span focused my work on smart, fresh UX. 
    span Below you will find a few short cases. 
    span You can also tap this block if you are so inclined to read about me. My work history is on 
      a(href="http://linkedin.com/in/tyrale") Linkedin
    span  , for a few short thoughts check 
    span 
      a(href="http://twitter.com/tyrale") Twitter
      |  and life choices 
    span 
      a(href="http://instagram.com/tyrale") Instagram.
      | &nbsp;Feel free to reach out anywhere.  
    span Just google 
      a(href="http://bit.ly/1KWsxvp") "tyrale"
      |  , I am pretty easy to find.
.whatmatters
  h5.tk-chaparral-pro
    i.icon-down
    | Things I have built
    i.icon-down
.work
  ul.cats
    +project('Designing a new UX process.'
    ,'UX Triage'
    ,'uxtriage'
    ,'img/ux-triage.png','1')
    +project('Build a delightful new way to wordplay.'
    ,'Wordplay +/-'
    ,'http://bit.ly/1GpePz8'
    ,'img/wordplay.png')
    +project('Designing hardware integration to a mobile platform with IDEO.'
    ,'Shade.io'
    ,'http://bit.ly/1KR4BM7'
    ,'img/shade.png')
    +project('Create a product that will empower Students and Brands.'
    ,'whurk'
    ,'http://bit.ly/1OMShjM'
    ,'img/whurk.png')
    +project('Audit UX to optimize conversion and EPC(earnings per click).'
    ,'ReadyCart'
    ,'http://bit.ly/1NTRyfq'
    ,'img/readycart.png')
    +project('Audit UX/UI to encourage homepage CTR(click-thru ratio)'
    ,'MyManny'
    ,'http://bit.ly/1QPKNtY'
    ,'img/mymanny.png')
    +project('Design a platform to stream culture specific content.'
    ,'Ver on Demand'
    ,'http://verondemand.com'
    ,'img/ver.png')
    +project('Design mobile UX for physician.'
    ,'PD Note'
    ,'http://tyrale.com/atomicUX/'
    ,'img/pdnote.png')
    +project('Audit UX of physician EHR.'
    ,'Patient Logic'
    ,'http://tyrale.com/medhost/'
    ,'img/medhost.png')
    +project('Audit UX/UI to increase CTR and qualified leads.'
    ,'Army National Guard'
    ,'http://tyrale.com/guard/'
    ,'img/guard.png')
.history
  h5.tk-chaparral-pro
    i.icon-down
    | More things I have built
    i.icon-down
  ul.timeline
    +archive('April 2015'
    ,'Joker Greeting')
    +archive('Jan 2015'
    ,'Story Shelf')
    +archive('Dec 2014'
    ,'CommonWell Medical')
    +archive('Aug 2014'
    ,'Point Clear Solutions')
    +archive('July 2014'
    ,'Spartan')
    +archive('2013-14'
    ,'Patient Logic')
    +archive('Nov 2012'
    ,'ColorShift')
    +archive('Feb 2012'
    ,'ProperCut')
    +archive('Jan 2012'
    ,'SongWriter+')
    +archive('April 2014'
    ,'LunchRadio')
    +archive('Dec 2011'
    ,'Army National Guard History')
    +archive('Dec 2011'
    ,'Soldier Fit')
    +archive('Dec 2011'
    ,'Your Anonymous Friend')
    +archive('Nov 2011'
    ,'Nossi College of Art')
    +archive('Aug 2011'
    ,'Noah for iPad')
    +archive('Aug 2011'
    ,'Bulwark')
    +archive('July 2011'
    ,'Semper Fi Fund')
    +archive('July 2011'
    ,'RedKap')
    +archive('June 2011'
    ,'Second Harvest Food Bank')
    +archive('May 2011'
    ,'TwiceDaily')
    +archive('July 2011'
    ,'Barrett')
    +archive('June 2011'
    ,'Kimber')
    +archive('April 2011'
    ,'ANG 1 Million Faces')
    +archive('Dec 2010'
    ,'Army National Guard Facebook')
    +archive('Nov 2010'
    ,'The Army National Guard')
    +archive('Aug 2009'
    ,'W hotel')
    +archive('March 2009'
    ,'City Center')
    +archive('Feb 2008'
    ,'Palms Fantasy')
    +archive('Dec 2009'
    ,'MGM Mirage')
    +archive('Sept 2008'
    ,'Palms Place')
    +archive('Dec 2007'
    ,'St. Regis')
    +archive('Nov 2007'
    ,'Planet Hollywood')
    +archive('Jan 2007'
    ,'Tyrale.com')
    +archive('Dec 2006'
    ,'Palazzolo Design')
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
