doctype html
html(lang="en")
  include inc/head.jade
body.tk-chaparral-pro

mixin project(subline,name,href,src)
  li.project
    a(href=href)
      img(src=src, alt="")
    h3.tk-chaparral-pro= subline
    h2.tk-chaparral-pro
      a(href=href)= name
mixin archive(date, type, title, thing)
  li
    span.tk-chaparral-pro.title
      a()= title
      span.type= type
    span.tk-chaparral-pro.date= date
      span.thing= thing
.bio
  h1.tk-chaparral-pro 
    span.line I'm generally known as,
    span.name Tyrale.
.dontcare
  p
    input(type='checkbox' name='paragraph' id='paragraph')
    label(for='paragraph')
    span You came here to see what I can 
    span produce, or possibly see how I think. 
    span I have designed experiences for over a decade, 
    span mentored and managed teams of +30 Designers, and 
    span focused my work on smart, fresh UX. 
    span Below you will find a few cases. 
    span You can also tap this block if you are so inclined to read more about me. My work history is on 
      a(href="http://linkedin.com/in/tyrale") Linkedin
      |  and life choices can be seen on
    span 
      a(href="http://instagram.com/tyrale") Instagram.
      | &nbsp;Feel free to reach out anywhere.  
    span Just google 
      a(href="http://bit.ly/1KWsxvp") "tyrale"
      |  , I am pretty easy to find.
.whatmatters
  h5.tk-chaparral-pro
    i.icon-down
    | Things I have built
    i.icon-down
.work
  ul.cats
    +project('The result of a deliberate & relentless pursuit of pure functionality.'
    ,'nok'
    ,'http://ordernok.com'
    ,'img/nok.jpg')
    +project('Designing a new UX process.'
    ,'UX Triage'
    ,'uxtriage'
    ,'img/ux-triage.png')
    +project('Build a delightful new way to wordplay.'
    ,'Wordplay +/-'
    ,'http://bit.ly/1GpePz8'
    ,'img/wordplay.png')
    +project('Designing hardware integration to a mobile platform with IDEO.'
    ,'Shade.io'
    ,'http://bit.ly/1KR4BM7'
    ,'img/shade.png')
    +project('Create a product that will empower Students and Brands.'
    ,'whurk'
    ,'http://bit.ly/1OMShjM'
    ,'img/whurk.png')
    +project('Audit UX to optimize conversion and EPC(earnings per click).'
    ,'ReadyCart'
    ,'http://bit.ly/1NTRyfq'
    ,'img/readycart.png')
    +project('Audit UX/UI to encourage homepage CTR(click-thru ratio)'
    ,'MyManny'
    ,'http://bit.ly/1QPKNtY'
    ,'img/mymanny.png')
    +project('Design a platform to stream culture specific content.'
    ,'Ver on Demand'
    ,'http://verondemand.com'
    ,'img/ver.png')
    +project('Design mobile UX for physician.'
    ,'PD Note'
    ,'http://tyrale.com/atomicUX/'
    ,'img/pdnote.png')
    +project('Audit UX of physician EHR.'
    ,'Patient Logic'
    ,'http://tyrale.com/medhost/'
    ,'img/medhost.png')
    +project('Audit UX/UI to increase CTR and qualified leads.'
    ,'Army National Guard'
    ,'http://tyrale.com/guard/'
    ,'img/guard.png')
.history
  h5.tk-chaparral-pro
    i.icon-down
    | More things I have built
    i.icon-down
  ul.timeline
    +archive('April 2015', 'Gag Greeting Cards'
    ,'Joker Greeting', 'Concept & Branding')
    +archive('Jan 2015', 'Web App'
    ,'Story Shelf', 'Concept, Branding, Design')
    +archive('Dec 2014', 'Web App'
    ,'CommonWell Medical', 'UX Audit')
    +archive('Aug 2014', 'Web App'
    ,'Point Clear Solutions', 'UX Audit')
    +archive('July 2014', 'Mobile & Web Apps'
    ,'Spartan', 'Full Stack')
    +archive('2013-14', 'Web Apps'
    ,'Patient Logic', 'Full Stack')
    +archive('Nov 2012', 'iOS App'
    ,'ColorShift', 'Full Stack')
    +archive('Feb 2012', 'iOS App'
    ,'ProperCut', 'Full Stack')
    +archive('Jan 2012', 'iOS App'
    ,'SongWriter+', 'Full Stack')
    +archive('April 2014', 'iOS App'
    ,'LunchRadio', 'Full Stack')
    +archive('Dec 2011', 'Mobile & Web Apps'
    ,'Army National Guard History', 'Concept, Design, Branding')
    +archive('Dec 2011', 'iOS App'
    ,'Soldier Fit', 'Concept, Design, Branding')
    +archive('Dec 2011', 'iOS App'
    ,'Your Anonymous Friend', 'Full Stack')
    +archive('Nov 2011', 'Website'
    ,'Nossi College of Art', 'Concept, UX, UI')
    +archive('Aug 2011', 'iOS App'
    ,'Noah for iPad', 'Full Stack')
    +archive('Aug 2011', 'Website'
    ,'Bulwark', 'Concept, UX, UI')
    +archive('July 2011', 'Website'
    ,'Semper Fi Fund', 'UX & UI')
    +archive('July 2011', 'Website'
    ,'RedKap', 'UX & UI')
    +archive('June 2011', 'Website'
    ,'Second Harvest Food Bank', 'UX & UI')
    +archive('May 2011', 'Website'
    ,'TwiceDaily', 'Concept, UX, UI')
    +archive('July 2011', 'Website'
    ,'Barrett', 'UX & UI')
    +archive('June 2011', 'Website'
    ,'Kimber', 'UX & UI')
    +archive('April 2011', 'Facebook App'
    ,'ANG 1 Million Faces', 'Concept, UX, UI')
    +archive('Dec 2010', 'Website'
    ,'Army National Guard Facebook', 'Concept, UX, UI')
    +archive('Nov 2010', 'Website'
    ,'The Army National Guard', 'Full Stack')
    +archive('Aug 2009', 'Website'
    ,'W hotel', 'UX & UI')
    +archive('March 2009', 'Website'
    ,'City Center', 'UX & UI')
    +archive('Feb 2008', 'Website'
    ,'Palms Fantasy', 'Concept, UX, UI, Branding')
    +archive('Dec 2009', 'Website'
    ,'MGM Mirage', 'UX & UI')
    +archive('Sept 2008', 'Website & Branding'
    ,'Palms Place', 'Concept, UX, UI, Branding')
    +archive('Dec 2007', 'Website'
    ,'St. Regis', 'Concept, UX, UI')
    +archive('Nov 2007', 'Website & Branding'
    ,'Planet Hollywood', 'Concept, UX, UI, Branding')
    +archive('Jan 2007', 'Everything'
    ,'Tyrale.com', 'Full Stack')
    +archive('Dec 2006', 'Website & Branding'
    ,'Palazzolo Design', 'Full Stack')
p.foot Full Stack means anything and everything. From concept to coding, sales to support, social media to user encyclopedia.
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
    //- +archive('Dec 2007'
    //- ,'St. Regis'
    //- ,'http://www.stregisnewyork.com')
