html
  
  link(href="style.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Halant:400,600" rel="stylesheet")
  
  body
    header
      h1 Tyrale is a creative
        br
        | leader focused on 
        br
        | User Experience.
    
    .container
      .content-container
      
        mixin content(title, link1, link2, link3)
          h2= title 
          if block
            block
          else
            p No content provided
          a(href=link1) Web
          a(href=link2) Case Study
          a(href=link3) Press
      
        mixin right(title, src, link1, link2, link3)
          .scroll-content-box(class!=attributes.content factor="150")
            video(src=src autoplay loop)
            .scroll-parallax-box.box-1(factor='1600')
              +content(title, link1, link2, link3)
                if block
                  block
                else
                  p No content provided
        mixin left(title, src, link1, link2, link3)
          .scroll-content-box(class!=attributes.content factor="150")
            video(src=src autoplay loop)
            .scroll-parallax-box.box-2(factor='1600')  
              +content(title, link1, link2, link3)
                if block
                  block
                else
                  p No content provided
        
        
        // +right("Avenel", "./img/theopenshift.mp4", "theopenshift.com", "tyrale.com", "./img/theopenshift.jpg")(content="content-box-1")
        //   p A service industry chatbot to help fill open shifts. Simple, clever, and clear.
        // +left("Sentry", "./img/very.mp4", "verypossible.com", "tyrale.com","https://verypossible.com/blog/goodbye-spartan-hello-very")(content="content-box-2")
        //   p 28 Design Sprints in 2 years for various startups. Before it was Very, it was Spartan. 
        +right("The Open Shift", "./img/theopenshift.mp4", "theopenshift.com", "tyrale.com", "./img/theopenshift.jpg")(content="content-box-1")
          p A service industry chatbot to help fill open shifts. Simple, clever, and clear.
        +left("Wordplay", "./img/wordplay.mp4", "https://itunes.apple.com/us/app/wordplay/id936938798?ls=1&mt=8", "tyrale.com", "https://medium.com/p/104d143ba05c/edit")(content="content-box-2")
          p The new way to word play. Both players are given a word where in turn they can add, remove, or rearrange the letters to create a new word.
        
        +right("Joker Greeting", "./img/joker4.mp4", "jokergreeting.com", "tyrale.com", "http://abcnews.go.com/US/diabolical-joker-birthday-card-plays-music-destroyed-battery/story?id=30143302")(content="content-box-3")
          p Truly, the gift that keeps giving... 
            br
            | you heartache.  
        +left("Very", "./img/very.mp4", "verypossible.com", "tyrale.com","https://verypossible.com/blog/goodbye-spartan-hello-very")(content="content-box-4")
          p 28 Design Sprints in 2 years for various startups. Before it was Very, it was Spartan. 
        
        +right("UX Triage", "./img/uxtriage.mp4", "uxtriage.com", "https://medium.com/startup-grind/3-day-design-sprint-ux-triage-e9c2b251664a", "tyrale.com")(content="content-box-5")
          p UX Triage is the result of a deliberate & relentless pursuit to simplify the problem solving workflow for designers. Through the use of thoughtfully pure simplicity.
        +left("nok", "./img/nok.mp4", "ordernok.com.com", "tyrale.com", "tyrale.com")(content="content-box-6")
          p We set out to make a wallet that carries ONLY what you need. 3 cards, 1 ID, weighing 1gm. 
            br 
            | Plus, a pocket for cash.
        
        +right("Shade.io", "./img/shade.mp4", "shade.io", "https://verypossible.com/case-studies/shade", "https://lupusnewstoday.com/2016/09/22/wearable-uv-sensor-shade-may-help-control-lupus-symptoms")(content="content-box-7")
          p The Shade UV sensor is the only scientific way to control your sunlight exposure.
        
        .timeline
          h2 Timeline


          
  script(src="js/jquery.js" type="text/javascript")
  script(src="js/client.js" type="text/javascript" )